<!doctype html>
<html>
    <head>
        <meta charset='utf-8' />
        <title>キャスコメCUI</title>
    </head>
    <body>
        <h1>キャスコメCUI</h1>
        <textarea><%=access_token %></textarea>
    </body>
</html>
